*.org
*.sav
*.new
*.drjava
*.txt
*.log
*~
*.old
*.new
*.mine
*.alt
*.DS_Store
*.backup
codecoverage
drjava/classes
drjava/drjava.jar
drjava/build.xml.*
drjava/coverage_report
platform/classes/lib/
platform/classes/test-mac/
scratch
