<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>DrJava</string>
	<key>CFBundleVersion</key>
	<string>See About DrJava...</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>DrJava</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>DrJa</string>
	<key>CFBundleGetInfoString</key>
	<string>DrJava IDE for Java Development</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>edu.rice.cs.drjava.DrJava</string>
		<key>JVMVersion</key>
		<string>1*</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/DrJava.jar</string>
		<key>Properties</key>
		<dict>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>DrJava</string>
			<key>com.apple.mrj.application.live-resize</key>
			<string>true</string>
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
