<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="edu.rice.cs.drjava"
   name="DrJava"
   version="0.0.1"
   provider-name="Rice University"
   class="edu.rice.cs.drjava.plugins.eclipse.EclipsePlugin">

   <runtime>
      <library name="drjava-eclipse.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="DrJava"
            id="edu.rice.cs.drjava">
      </category>
      <view
            name="Interactions Pane"
            icon="icons/drjava16.png"
            category="edu.rice.cs.drjava"
            class="edu.rice.cs.drjava.plugins.eclipse.views.InteractionsView"
            id="edu.rice.cs.drjava.InteractionsView">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DrJava"
            icon="icons/drjava16.png"
            class="edu.rice.cs.drjava.plugins.eclipse.DrJavaPerspective"
            id="edu.rice.cs.drjava.DrJavaPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="edu.rice.cs.drjava.DrJavaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="edu.rice.cs.drjava.DrJavaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
